@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* *********************************************** Scrollbar     */

/* width */

/*::-webkit-scrollbar {*/

/*  width: 7px;*/

/*}*/

/* Track */

/*::-webkit-scrollbar-track {*/

/*  background: #f1f1f1;*/

/*}*/

/* Handle */

/*::-webkit-scrollbar-thumb {*/

/*  background: #888;*/

/*}*/

/* Handle on hover */

/*::-webkit-scrollbar-thumb:hover {*/

/*  background: #555;*/

/*}*/

/* *********************************************** /Scrollbar     */

/* *********************************************** Main Section     */

body {
    height: 100%;
    width: 100%;
    background: #000;
    overflow: hidden;
}


.btn {
    width: 100%;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
}

.buttons {
    padding: 20px;
}

h1 {
    font-family: 'Holtwood One SC', serif;
    font-size: 6vw;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

h2 {
    color: #3182bd;
    font-size: 3em;
}

label {
    font-family: 'Poppins', serif;
    color: white;
    text-transform: uppercase;
}

.entry-button {
    margin-top: 40px;
}

.heading {
    height: 20vh;
    width: 100vw;
    background-color: #000;
    color: #fcd303;
    position: relative;
}

.heading-text {
    margin: auto;
    text-align: center;
}

.main {
    height: 80vh;
    color: yellow;
    overflow: hidden;
}

.main-dashboard {
    margin-top: 30px;
    height: 80vh;
    color: yellow;
    overflow-y: auto;
    overflow-x: hidden;
}

#main-dash-buttons {
    margin-top: 20px;
}

/* ******************************************************* Star Wars Crawler Text */

/* https://css-tricks.com/snippets/css/star-wars-crawl-text/ */

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 400px;
    perspective: 400px;
    color: #feda4a;
    background-color: #000;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 400%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
}

.crawl {
    position: relative;
    /*top: -100px;*/
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 40s linear;
}

.crawl p {
    font-size: 2em;
    line-height: 50px;
    color: yellow;
    line-height: 150%;
    z-index: 1;
}

@keyframes crawl {
    0% {

        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

/* ******************************************************* Star Wars Crawler Text */

.middle {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radios {
    /*padding: 20px 50px 10px 50px;*/
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

input {
    margin: 10px;
}

.galaxy-button {
    width: 100%;
}

footer {
    height: 150px;
    background-color: #fff;
    z-index: 10;
}

p {
    color: #000;
}

table {
    color: #fff;
}

.row {
    margin: 0;
}


.arc path {
    stroke: #fff;
}

#draw-here {
    padding-top: 50px;
}

#radios-legend {
    color: #3182bd;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.radio-inline {
    color: #9ecae1;
    font-size: 16px;
}


.svg:text {
    text-transform: uppercase;
}

/* https://stackoverflow.com/questions/16265123/resize-svg-when-window-is-resized-in-d3-js*/

.svg-container {
    display: inline-block;
    position: relative;
    /*width: 100%;*/
    padding-bottom: 10%;
    vertical-align: top;
    max-height: 500px;
}

.svg-content-responsive {
    top: 10px;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.svg {
    margin: auto;

}

/* *********************************************** /Main Section     */

/*------------------------------------------Media Queries */

@media screen and (max-width: 320px) {
    #radios-legend {
        font-size: 16px;
    }
    .radio-inline {
        font-size: 14px;
    }
    .svg-content-responsive {
        width: 230px;
        height: 230px;
    }


}

@media screen and (max-width: 400px) and (min-width: 321px) {
    #radios-legend {
        font-size: 18px;
    }
    .radio-inline {
        font-size: 16px;
    }
    .svg-content-responsive {
        width: 280px;
        height: 280px;
    }

}

@media screen and (max-width: 765px) and (min-width: 401px) {
    #radios-legend {
        font-size: 18px;
    }
    .radio-inline {
        font-size: 16px;
    }
    .svg-content-responsive {
        width: 350px;
        height: 350px;
    }

}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    #radios-legend {
        font-size: 20px;
    }
    .radio-inline {
        font-size: 18px;
    }
    .svg-content-responsive {
        width: 320px;
        height: 320px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    #radios-legend {
        font-size: 22px;
    }
    .radio-inline {
        font-size: 20px;
    }

}

@media screen and (min-width: 1024px) {
    #radios-legend {
        font-size: 24px;
    }
    .radio-inline {
        font-size: 22px;
    }
    #draw-here {
        padding-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    #radios-legend {
        font-size: 26px;
    }
    .radio-inline {
        font-size: 24px;
    }
}
