@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
    height: 100%;
    width: 100%;
    background: #000;
    overflow: hidden;
}

.btn {
    width: 100%;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.buttons {
    padding: 20px;
}

h1 {
    font-family: 'Holtwood One SC', serif;
    font-size: 6vw;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

h2 {
    color: #3182bd;
    font-size: 3em;
}

input {
    margin: 10px;
}

label {
    font-family: 'Poppins', serif;
    color: white;
    text-transform: uppercase;
}

p {
    color: #000;
}

.row {
    margin: 0;
}

table {
    color: #fff;
}

/* *********************************************** Main Section     */

.entry-button {
    margin-top: 40px;
}

.heading {
    height: 20vh;
    width: 100vw;
    background-color: #000;
    color: #fcd303;
    position: relative;
}

.heading-text {
    margin: auto;
    text-align: center;
}

.main {
    height: 80vh;
    color: yellow;
    overflow: hidden;
}

.main-dashboard {
    margin-top: 30px;
    height: 80vh;
    color: yellow;
    overflow-y: auto;
    overflow-x: hidden;
}

#main-dash-buttons {
    margin-top: 20px;
}

/* ******************************************************* Star Wars Crawler Text */

/* https://css-tricks.com/snippets/css/star-wars-crawl-text/ */

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 400px;
    perspective: 400px;
    color: #feda4a;
    background-color: #000;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 400%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 40s linear;
}

.crawl p {
    font-size: 2em;
    line-height: 150%;
    color: yellow;
    z-index: 1;
}

@keyframes crawl {
    0% {
        top: -10px;
        transform: rotateX(30deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: 0px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
    margin-top: 20px;
}

/* ********************************************************************* /Star Wars Crawler Text */

footer {
    height: 150px;
    background-color: #fff;
    z-index: 10;
}

.galaxy-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    margin-bottom: 20px;
}

.radios {
    /*padding: 20px 50px 10px 50px;*/
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

#radios-legend {
    color: #3182bd;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.radio-inline {
    color: #9ecae1;
    font-size: 16px;
}



/* ******************************************************* Pie Chart */

#draw-here {
    padding-top: 50px;
}

.arc path {
    stroke: #fff;
}

.svg-container {
    display: inline-block;
    position: relative;
    padding-bottom: 10%;
    vertical-align: top;
    max-height: 500px;
}

.svg-content-responsive {
    top: 10px;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.svg {
    margin: auto;

}

/* ******************************************************* Pie Chart */

/* ****************************************************************** /Main Section     */

/* ****************************************************************** Media Queries */

@media screen and (max-width: 320px) {
    #radios-legend {
        font-size: 16px;
    }
    .radio-inline {
        font-size: 14px;
    }
    .svg-content-responsive {
        width: 230px;
        height: 230px;
    }
    .star-wars {
        perspective: 300px;
        font-size: 200%;
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 110%;
    }
    .crawl p {
        font-size: 50px;
        line-height: 150%;
        color: yellow;
        z-index: 1;
    }


}

@media screen and (max-width: 400px) and (min-width: 321px) {
    #radios-legend {
        font-size: 18px;
    }
    .radio-inline {
        font-size: 16px;
    }
    .svg-content-responsive {
        width: 280px;
        height: 280px;
    }
    .star-wars {
        perspective: 325px;
        font-size: 250%;
        font-weight: 400;
        letter-spacing: 5px;
        line-height: 120%;
    }
    .crawl p {
        font-size: 50px;
        line-height: 150%;
        color: yellow;
        z-index: 1;
    }

}

@media screen and (max-width: 765px) and (min-width: 401px) {
    #radios-legend {
        font-size: 18px;
    }
    .radio-inline {
        font-size: 16px;
    }
    .svg-content-responsive {
        width: 350px;
        height: 350px;
    }
    .star-wars {
        perspective: 380px;
        font-size: 300%;
        font-weight: 400;
        letter-spacing: 5px;
        line-height: 140%;
    }
    .crawl p {
        font-size: 50px;
        line-height: 150%;
        color: yellow;
        z-index: 1;
    }

}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    #radios-legend {
        font-size: 20px;
    }
    .radio-inline {
        font-size: 18px;
    }
    .svg-content-responsive {
        width: 320px;
        height: 320px;
    }
    .star-wars {
        font-size: 300%;
        font-weight: 400;
        letter-spacing: 6px;
        line-height: 140%;
    }
    .crawl p {
        font-size: 1.5em;
        line-height: 150%;
        color: yellow;
        z-index: 1;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    #radios-legend {
        font-size: 24px;
    }
    .radio-inline {
        font-size: 22px;
    }
    #draw-here {
        padding-top: 20px;
    }
    .star-wars {
        font-size: 300%;
        font-weight: 400;
        letter-spacing: 6px;
        line-height: 140%;
    }
    h1 {
        font-size: 5vw;
    }
}

@media screen and (min-width: 1200px) {
    #radios-legend {
        font-size: 26px;
    }
    .radio-inline {
        font-size: 24px;
    }
}
